### macros used to define factions

#define FACTION_RECRUIT TYPE WESTYPE
	[allow_recruit]
	side=$side
	type={TYPE}
	[/allow_recruit]
	{VARIABLE_OP xrecruits format x$recruits}
	[if]
		[variable]
		name=xrecruits
		equals="x"
		[/variable]
	[then]
		[set_variable]
		name=recruits
		value={WESTYPE}
		[/set_variable]
	[/then]
	[else]
		[set_variable]
		name=recruits
		format=$recruits, {WESTYPE}
		[/set_variable]
	[/else]
	[/if]
#enddef

#define FACTION_PLAYER_RECRUIT TYPE WESTYPE
	[if]
	[variable]
	name=side
	equals=1
	[/variable]
	[then]
		{FACTION_RECRUIT ({TYPE}) ({WESTYPE})}
	[/then]
	[/if]
#enddef

#define FACTION_FREEBIE_START COST CHANCE
	[store_gold]
	side=$side
	[/store_gold]
	{RANDOM 0..99}
	{VARIABLE_OP gold add -{COST}}
	[if]
	[variable]
	name=gold
	greater_than={COST}
	[/variable]
	[then]
	{DEBUGMSG (gold test $gold >= {COST})}
	[if]
	[variable]
	name=random
	less_than={CHANCE}
	[/variable]
	[then]
		[set_variable]
		name=gold
		value={COST}
		[/set_variable]
		{VARIABLE_OP gold multiply -1}
#enddef

#define FACTION_FREEBIE_END
	[store_gold]
	side=$side
	[/store_gold]
	{DEBUGMSG (Side $side now has $gold gold.)}
	[/then]
	[/if]
	[/then]
	[/if]
#enddef

#define FACTION_EXTRA_START COST CHANCE
	{FACTION_FREEBIE_START {COST} {CHANCE}}
		[gold]
		side=$side
		amount=$gold
		[/gold]
#enddef

#define FACTION_EXTRA_END
	{FACTION_FREEBIE_END}
#enddef

#define FACTION_EXTRA_RECRUIT COST CHANCE TYPE WESTYPE
	{FACTION_EXTRA_START {COST} {CHANCE}}
	{FACTION_RECRUIT ({TYPE}) ({WESTYPE})}
	{DEBUGMSG (Side $side can now recruit {TYPE})}
	{FACTION_EXTRA_END}
#enddef

#define FACTION_LEADER TYPE WESTYPE
	[if]
	[have_unit]
	side=$side
	[/have_unit]
	[then]
	[/then]
	[else]
		[unit]
		side=$side
		canrecruit=1
		type={TYPE}
		x=$location.x
		y=$location.y
		[/unit]
		[set_variable]
		name=side_leader[$side]
		value={WESTYPE}
		[/set_variable]
		{DEBUGMSG (Side $side is under a {TYPE})}
	[/else]
	[/if]
#enddef

#define FACTION_EXTRA_LEADER COST CHANCE TYPE WESTYPE
	[if]
	[have_unit]
	side=$side
	[/have_unit]
	[then]
	[/then]
	[else]
		{FACTION_FREEBIE_START {COST} {CHANCE}}
		{FACTION_LEADER ({TYPE}) ({WESTYPE})}
		{FACTION_FREEBIE_END}
	[/else]
	[/if]
#enddef

#define FACTION_PLAYER_LEADER TYPE WESTYPE
	[if]
	[variable]
	name=side
	equals=1
	[/variable]
	[then]
		{FACTION_LEADER ({TYPE}) ({WESTYPE})}
	[/then]
	[/if]
#enddef

#define FACTION_START NAME
[event]
name=prestart
	[if]
		[variable]
		name={NAME}_faction_inited
		less_than_equal_to=0
		[/variable]
	[then]
		[set_variable]
		name={NAME}_faction_inited
		value=1
		[/set_variable]

		{VARIABLE_OP xfactions format x$factions}
		[if]
			[variable]
			name=xfactions
			equals="x"
			[/variable]
		[then]
			[set_variable]
			name=factions
			value={NAME}
			[/set_variable]
		[/then]
		[else]
			[set_variable]
			name=factions
			format=$factions,{NAME}
			[/set_variable]
		[/else]
		[/if]
		{CLEAR_VARIABLE xfactions}
	[/then]
	[/if]
[/event]

[event]
name=start

	### set side 1's faction in first scenario only
	[if]
		[variable]
		name=scenario_number
		equals=1
		[/variable]
		[then]
		{VARIABLE side 1}
		[/then]
		[else]
		{VARIABLE side 2}
		[/else]
	[/if]

	### loop through all the sides
	[while]
        [variable]
        name=side
        less_than=10
        [/variable]
        [do]

		### only do anything if faction is {NAME}
		[set_variable]
		name=faction
		to_variable=side_faction[$side]
		[/set_variable]
		[if]
			[variable]
			name=faction
			equals={NAME}
			[/variable]
		[then]

			### keep track of player faction
			[if]
				[variable]
				name=side
				equals=1
				[/variable]
			[then]
				[set_variable]
				name=player_faction
				to_variable=faction
				[/set_variable]
			[/then]
			[/if]

			### set team
			[set_variable]
			name=friendly
			to_variable=side_friendly[$side]
			[/set_variable]
			[if]
			[variable]
			name=friendly
			equals=1
			[/variable]
			[then]
				[modify_side]
				side=$side
				team_name=goodies
				[/modify_side]
			[/then]
			[/if]
			
			### get starting location
			[store_starting_location]
			side=$side
			[/store_starting_location]

			### save this side's gold before its manipulated
			[store_gold]
			side=$side
			variable=initial_gold
			[/store_gold]
	
			### clear the recruit list
			[set_recruit]
			side=$side
			recruit=
			[/set_recruit]

			{CLEAR_VARIABLE recruits}

			{DEBUGMSG (Side $side is the $faction|.)}
#enddef

#define FACTION_END
		[set_variable]
		name=side_recruits[$side]
		to_variable=recruits
		[/set_variable]
		{DEBUGMSG (side=$side recruits=$recruits)}

		[/then]
	[/if]	
	{NEXT side}
[/event]
#enddef
