[scenario]
	#textdomain wesnoth-Mystery_Campaign
	name=_ "Mystery Scenario"
	id=mystery_scenario
	map_generation=default
	next_scenario=mystery_scenario
	turns=-1

	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}

	{DEFAULT_MUSIC_PLAYLIST}

	[side]
	type=Lieutenant	# Commander is HTTT-specific
	canrecruit=1
	side=1
	controller=human
	team_name=goodies
	gold=150
	save_id=player
	[/side]

	[side]
	side=2
	no_leader=yes
	team_name=baddies
	gold=0
		[ai]
		recruitment_pattern=fighter,fighter,fighter,archer,archer,archer,mixed fighter,mixed fighter,healer
		[/ai]
	[/side]

	{SCENARIO_SETUP}
	{MERDWARF_NONSENSE}
	{FACTIONS_CONFIG}

	# gold toggle
	[event]
	name=start
		[if]
			[variable]
			name=scenario_number
			equals=1
			[/variable]
		[then]
			[message]
			speaker=narrator
			message=_ "What funding level do you want for the campaign?"
			[option]
			message=_ "Classic"
			[command]
				{VARIABLE funding_mode "Classic"}
			[/command]
			[/option]
			[option]
			message=_ "Excessive"
			[command]
				{VARIABLE funding_mode "Excessive"}
			[/command]
			[/option]
			[option]
			message=_ "Moderate"
			[command]
				{VARIABLE funding_mode "Moderate"}
			[/command]
			[/option]
			[/message]
			{VARIABLE player_gold 150}
		[/then]
		[/if]
	[/event]

	### setup enemy
	[event]
	name=start
		### set enemy faction
		{RANDOM_NONPLAYER_FACTION}

		### set enemy gold
		{DEBUGMSG (Difficulty is $difficulty)}
		[gold]
		side=2
		amount=$difficulty
		[/gold]
	[/event]

	{FACTIONS}
	{FACTION_POSTDECLARE}

	# force correct gold for player
	# this forces correct funding for player
	[event]
	name=start
		[store_gold]
		side=$side
		[/store_gold]
		[if]
			[variable]
				name=gold
				less_than=$player_gold
			[/variable]
		[then]
			[modify_side]
				side=1
				gold=$player_gold
			[/modify_side]
		[/then]
		[/if]
	[/event]

	{SURRENDER 2 10 4}

	### check that everyone has enough gold
	[event]
	name=start
		{ENSURE_GOLD 2 100}
	[/event]

	### tell the player about how we are set up
	[event]
	name=start
		[store_gold]
		side=2
		[/store_gold]
		{VARIABLE_OP enemy_faction to_variable (side_faction[2].variable)}
		{VARIABLE_OP enemy_recruits to_variable (side_recruits[2].variable)}
		
		[store_unit]
			[filter]
				side=1
				canrecruit=1
			[/filter]
			variable=player_leader1
		[/store_unit]
		[if]
			[variable]
			name=player_leader1.user_description
			equals=
			[/variable]
		[then]
			{VARIABLE_OP player_leader format $player_leader1.type}
		[/then]
		[else]
			{VARIABLE_OP player_leader format ($player_leader1.type $player_leader1.user_description)}
		[/else]
		[/if]

		[message]
		side=2
		canrecuit=1
		message= _ "Greetings, $player_leader|, welcome to scenario $scenario_number|.

I have $gold gold, and my army of $enemy_faction consists of the following types of unit: $enemy_recruits|. 

To complete the scenario, you must defeat me, or force me to surrender!"
		[/message]

		[objectives]
			side=1
			[objective]
				description= _ "Defeat enemy leader"
				condition=win
			[/objective]
			[objective]
				description= _ "Enemy leader surrenders"
				condition=win
			[/objective]
			[objective]
				description= _ "Death of your leader"
				condition=lose
			[/objective]
		[/objectives]
		[objectives]
			side=2
			[objective]
				description= _ "Defeat enemy leader"
				condition=win
			[/objective]
			[objective]
				description= _ "Death of your leader"
				condition=lose
			[/objective]
			[objective]
				description= _ "Your leader surrenders"
				condition=win
			[/objective]
		[/objectives]

		# clean up variables that only affect I/O
		{FLUSHARRAY side_faction}
		{FLUSHARRAY side_recruits}
		{CLEAR_VARIABLE player_leader1}
		{CLEAR_KEY_VALUE player_leader}
		{CLEAR_KEY_VALUE enemy_faction}
		{CLEAR_KEY_VALUE enemy_recruits}
	[/event]

	### cheat for debugging purposes
	#[event]
	#name=start
	#	[gold]
	#	side=1
	#	amount=1000
	#	[/gold]
	#	[allow_recruit]
	#	side=1
	#	type=Great Mage,Elvish Sharpshooter,Royal Guard
	#	[/allow_recruit]
	#[/event]

	### kill end of level bonus
	[event]
	name=die
		[filter]
		side=2
		canrecruit=1
		[/filter]
		{DEBUGMSG (End of scenario: enemies defeated)}
		[endlevel]
		result=victory
		bonus=yes
		[/endlevel]
	[/event]

	### catch player death
	[event]
	name=die
		[filter]
		side=1
		canrecruit=1
		[/filter]
		{DEBUGMSG (End of scenario: player killed)}
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	### map generator
	[generator]
	name=default
	map_width=28
	map_height=28
	iterations=1000
	hill_size=6
	max_lakes=15
	villages=20
	players=2
	min_lake_height=500
	lake_size=100
	river_frequency=20
	
	temperature_iterations=1000
	temperature_size=15
	
	default_convert=g
	
	roads=3
	road_windiness=3
	
	{GENERATOR_BOILERPLATE}
	[/generator]
[/scenario]
